h1{
    font-size:70px;
}
p{
    text-align:center;
}
@media screen and (min-width:700px) and (max-width:1024px){
    h1{
        font-size:40px;
    }
}
@media screen and (min-width:350px) and (max-width:680px){
    h1{
        font-size:18px;
    }
    p{
        text-align:left;
    }
} 